APP_NAME=gp247
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=gp247
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
LOG_SLACK_WEBHOOK_URL=

#========GP247=========
GP247_ADMIN_API_PLUGIN=1 #Enable, disable page libary online
GP247_ADMIN_API_TEMPLATE=1 #Enable, disable page libary online
GP247_ADMIN_LOG=1 #Log access admin
GP247_ADMIN_FORGOT_PASSWORD=1 #Enable feature forgot password
GP247_PROTECTED_PLUGINS="" #Plugin1,Plugin2
GP247_PROTECTED_TEMPLATES="" #Template1,Template2
GP247_API_MODE=1 #Active, deactive api service - prevent provide api service, as your-domain/api/service...
GP247_DB_PREFIX=gp247_ #Cannot change after install gp247
GP247_ADMIN_PREFIX=gp247_admin #Prefix url admin, ex: domain.com/gp247_admin
GP247_ADMIN_LOG_EXCEPT="" #Except log admin acess, default: password,password_confirmation
GP247_SEO_LANG=0 #Enable, disable seo lang
GP247_API_LISENCE= #License key use connect to API
