/node_modules
/storage/*.key
/storage/logs/*.log
/*.zip
/vendor
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
.phpunit.result.cache
public/storage/.gitignore
public/build
public/hot
