* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored

*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
