@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
html, body {
    font-family: 'Quicksand', sans-serif;
}
.main-header {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}
.main-sidebar {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.08)!important;
}
.box {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
  margin-bottom: 2rem;
  border-radius: .25rem;
  border: none;
}
.skin-blue .main-header .logo, .skin-blue .main-header .logo:hover {
  background-color: #fff;
  color: #4556be;
  border-bottom: 0 solid transparent;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
  background-color: #fff;
  color: #000;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
  background-color: #fff;
}
.skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a {
    color: #000;
}
.skin-blue .sidebar a {
  color: #000;
  margin-left: 5px;
  margin-right: 5px;
}
.skin-blue .sidebar-menu>li.header {
  color: #4b646f;
  background: #e2eaef;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
  background-color: transparent!important;
  background-image: linear-gradient(118deg,rgba(92,107,198,.95),rgba(92,107,198,.7));
  color: #fff;
  box-shadow: 0 0 8px 1px rgba(92,107,198,.7);
  border-radius: .1rem;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
  background: #fff;
  color: #2a2e30;
}
.treeview-menu>li.active {
  color: #4b646f;
  background: #e2eaef;
}
.skin-blue .sidebar-menu .treeview-menu>li>a {
  color: #2a2e30;
}
.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
  color: #000;
}
.btn, .swal2-styled.swal2-confirm {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.05),0 1px 5px 1px rgba(0,0,0,.05)!important;
  cursor: pointer;
  border-radius: 0.5rem!important;
}
.label {
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.05),0 1px 5px 1px rgba(0,0,0,.05)!important;
}
.btn,.btn-group-sm>.btn,.btn-lg,.btn-sm {
    border-radius: .2rem
}
.btn-sm,.btn-xs {
    padding: .54rem .9rem!important
}
.btn-warning,.btn.btn-warning.active,.btn.btn-warning:focus,.btn.btn-warning:hover {
    color: #fff
}
.btn-group-sm>.btn,.btn-sm {
    font-size: 12px;
    height: 30px
}
.btn-default {
    background: #fff;
    border-color: #fff
}
.btn-default.active,.btn-default:focus,.btn-default:hover {
    background: #fff
}
.btn-default.active,.btn-default:focus,.btn-default:hover {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.05),0 2px 2px 0 rgba(0,0,0,.05),0 1px 5px 1px rgba(0,0,0,.05)
}

.btn-group .btn:not(.btn-white):hover {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.1),0 2px 2px 0 rgba(0,0,0,.1),0 1px 5px 1px rgba(0,0,0,.1)
}

.btn-group .btn {
    box-shadow: none!important
}

.btn-custom {
    color: #2a2e30;
    background-color: #59a9f8;
    border-color: #59a9f8;
    color: #fff
}

.btn-custom:hover {
    color: #fff;
    background-color: #48a0f7;
    border-color: #48a0f7
}

.btn-custom.focus,.btn-custom:focus {
    box-shadow: 0 0 0 .2rem rgba(82,151,218,.5)
}

.btn-custom.disabled,.btn-custom:disabled {
    color: #2a2e30;
    background-color: #59a9f8;
    border-color: #59a9f8
}

.btn-custom:not(:disabled):not(.disabled).active,.btn-custom:not(:disabled):not(.disabled):active,.show>.btn-custom.dropdown-toggle {
    color: #fff;
    background-color: #419cf7;
    border-color: #419cf7
}

.btn-custom:not(:disabled):not(.disabled).active:focus,.btn-custom:not(:disabled):not(.disabled):active:focus,.show>.btn-custom.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(82,151,218,.5)
}

.btn-outline-custom,.btn-outline-custom:hover {
    color: #59a9f8;
    border-color: #59a9f8
}

.btn-outline-custom:hover {
    background-color: rgba(89,169,248,.1)
}

.btn-outline-custom.focus,.btn-outline-custom:focus {
    box-shadow: 0 0 0 .2rem rgba(89,169,248,.5)
}

.btn-outline-custom.disabled,.btn-outline-custom:disabled {
    color: #59a9f8;
    background-color: transparent
}

.btn-outline-custom:not(:disabled):not(.disabled).active,.btn-outline-custom:not(:disabled):not(.disabled):active,.show>.btn-outline-custom.dropdown-toggle {
    color: #2a2e30;
    background-color: #59a9f8;
    border-color: #59a9f8
}

.btn-outline-custom:not(:disabled):not(.disabled).active:focus,.btn-outline-custom:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-custom.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(89,169,248,.5)
}

.btn-cyan {
    color: #fff;
    background-color: #7367f0;
    border-color: #7367f0
}

.btn-cyan:hover {
    color: #fff;
    background-color: #6457ee;
    border-color: #6457ee
}

.btn-cyan.focus,.btn-cyan:focus {
    box-shadow: 0 0 0 .2rem rgba(136,126,242,.5)
}

.btn-cyan.disabled,.btn-cyan:disabled {
    color: #fff;
    background-color: #7367f0;
    border-color: #7367f0
}

.btn-cyan:not(:disabled):not(.disabled).active,.btn-cyan:not(:disabled):not(.disabled):active,.show>.btn-cyan.dropdown-toggle {
    color: #fff;
    background-color: #5e50ee;
    border-color: #5e50ee
}

.btn-cyan:not(:disabled):not(.disabled).active:focus,.btn-cyan:not(:disabled):not(.disabled):active:focus,.show>.btn-cyan.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(136,126,242,.5)
}

.btn-outline-cyan,.btn-outline-cyan:hover {
    color: #7367f0;
    border-color: #7367f0
}

.btn-outline-cyan:hover {
    background-color: rgba(115,103,240,.1)
}

.btn-outline-cyan.focus,.btn-outline-cyan:focus {
    box-shadow: 0 0 0 .2rem rgba(115,103,240,.5)
}

.btn-outline-cyan.disabled,.btn-outline-cyan:disabled {
    color: #7367f0;
    background-color: transparent
}

.btn-outline-cyan:not(:disabled):not(.disabled).active,.btn-outline-cyan:not(:disabled):not(.disabled):active,.show>.btn-outline-cyan.dropdown-toggle {
    color: #fff;
    background-color: #7367f0;
    border-color: #7367f0
}

.btn-outline-cyan:not(:disabled):not(.disabled).active:focus,.btn-outline-cyan:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-cyan.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(115,103,240,.5)
}

.btn.btn-default,.btn.btn-white {
    color: #414750;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.065),0 2px 2px 0 rgba(0,0,0,.065),0 1px 5px 1px rgba(0,0,0,.065)
}

.btn.btn-white.btn-primary,.btn.btn-white.btn-primary:focus,.btn.btn-white.btn-primary:hover {
    color: #fff!important
}

.btn-white.active,.btn-white:focus,.btn-white:hover {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.1),0 2px 2px 0 rgba(0,0,0,.1),0 1px 5px 1px rgba(0,0,0,.1)!important
}

.btn-light {
    border-color: #f7f7f9!important;
    background-color: #f7f7f9!important;
    color: #444
}

.btn-light:focus,.btn-light:hover {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.1),0 2px 2px 0 rgba(0,0,0,.1),0 1px 5px 1px rgba(0,0,0,.1)!important;
    color: #444!important
}

.btn-flat-danger,.btn-flat-dark,.btn-flat-info,.btn-flat-primary,.btn-flat-success,.btn-flat-warning,.btn-no-shadow,.btn-outline-danger,.btn-outline-dark,.btn-outline-info,.btn-outline-primary,.btn-outline-success,.btn-outline-warning {
    box-shadow: none
}

.input-group-sm>.custom-select,.input-group-sm>.form-control,.input-group-sm>.input-group-append>.btn,.input-group-sm>.input-group-append>.input-group-text,.input-group-sm>.input-group-prepend>.btn,.input-group-sm>.input-group-prepend>.input-group-text {
    padding: .5rem .7rem
}

.btn:not(.btn-sm) .spinner-grow,a:not(.btn) .spinner-grow {
    margin-bottom: .15rem
}

.btn-outline {
    background-color: transparent
}

.btn-primary.btn-outline {
    color: #586cb1;
    border-color: #586cb1
}

.btn-info.btn-outline {
    color: #4277cf;
    border-color: #4277cf
}

.btn-success.btn-outline {
    color: #21b978;
    border-color: #21b978
}

.btn-danger.btn-outline {
    color: #ea5455;
    border-color: #ea5455
}

.btn-warning.btn-outline {
    color: #dda451;
    border-color: #dda451
}

.btn-primary.btn-outline.disabled,.btn-primary.btn-outline:disabled {
    background: transparent
}

.btn-danger.btn-outline.active,.btn-danger.btn-outline:hover,.btn-info.btn-outline.active,.btn-info.btn-outline:hover,.btn-success.btn-outline.active,.btn-success.btn-outline:hover,.btn-warning.btn-outline.active,.btn-warning.btn-outline:hover {
    color: #fff
}

.btn-primary.btn-outline.active,.btn-primary.btn-outline:hover {
    background: rgba(88,108,177,.05)
}

.header-navbar.navbar-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08)
}

.header-navbar.floating-nav {
    margin: 1.3rem 2.2rem 0
}

.navbar-light {
    background-color: #fff
}

.breadcrumb {
    border-left: 0
}

.content-header h1 {
    font-weight: 400;
    font-size: 24px;
    display: inline-block;
    font-family: 'Quicksand', Nunito, sans-serif
}

.content-header h1 small {
    font-size: 15px;
    display: inline-block;
    padding-left: 5px;
    color: #777
}
.pagination .page-item {
    border-radius: 5rem
}

.pagination .page-item.first .page-link,.pagination .page-item.last .page-link,.pagination .page-item.next-item .page-link,.pagination .page-item.prev-item .page-link {
    color: #5c6bc6
}

.pagination .page-item.first.disabled .page-link,.pagination .page-item.last.disabled .page-link,.pagination .page-item.next-item.disabled .page-link,.pagination .page-item.prev-item.disabled .page-link {
    color: #b8c2cc
}

.pagination .page-item:not(.active) .page-link,.pagination .page-item:not(.first) .page-link,.pagination .page-item:not(.last) .page-link,.pagination .page-item:not(.next-item) .page-link,.pagination .page-item:not(.prev-item) .page-link {
    line-height: 1.3
}

.pagination .page-item.prev-item {
    margin-right: .3571rem
}

.pagination .page-item.prev-item .page-link {
    background-color: #f0f0f0;
    padding: .572rem .651rem;
    border-radius: 50%
}

.pagination .page-item.prev-item .page-link:before {
    content: "\E843";
    font-family: feather
}

.pagination .page-item.prev-item .page-link:hover {
    background: #5c6bc6;
    color: #fff
}

.pagination .page-item.prev-item~.page-item:nth-child(2) {
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem
}

.pagination .page-item.prev-item~.page-item:nth-child(2) .page-link {
    border-top-left-radius: 5rem!important;
    border-bottom-left-radius: 5rem!important
}

.pagination .page-item.prev-item~.page-item:nth-last-child(2) {
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem
}

.pagination .page-item.prev-item~.page-item:nth-last-child(2) .page-link {
    border-top-right-radius: 5rem!important;
    border-bottom-right-radius: 5rem!important
}

.pagination .page-item.next-item {
    margin-left: .3571rem
}

.pagination .page-item.next-item .page-link {
    background-color: #f0f0f0;
    padding: .572rem .651rem;
    border-radius: 50%
}

.pagination .page-item.next-item .page-link:after {
    content: "\E844";
    font-family: feather
}

.pagination .page-item.next-item .page-link:hover {
    background: #5c6bc6;
    color: #fff
}

.pagination .page-item.prev .page-link:before,.pagination .page-item.previous .page-link:before {
    content: "\E843";
    font-family: feather
}

.pagination .page-item.next .page-link:after {
    content: "\E844";
    font-family: feather
}

.pagination .page-item .page-link {
    border: none;
    color: rgba(86,86,86,.9);
    background-color: #f0f0f0;
    margin: 0;
    font-size: 1rem;
    font-weight: 700
}

.pagination .page-item .page-link i {
    position: relative;
    top: 1px
}

.pagination .page-item .page-link:focus {
    box-shadow: none
}

.pagination .page-item .page-link:hover {
    color: #5c6bc6
}

.pagination .page-item.active {
    background-color: #f0f0f0;
    border-radius: 0
}

.pagination .page-item.active .page-link {
    z-index: 3;
    border-radius: 5rem;
    background-color: #5c6bc6;
    color: #fff;
    transform: scale(1.05)
}

.pagination .page-item:first-child:not(.prev-item).active {
    border-top-left-radius: 1.428rem;
    border-bottom-left-radius: 1.428rem
}

.pagination .page-item:first-child:not(.prev-item).active .page-link {
    border-radius: 5rem
}

.pagination .page-item:first-child:not(.prev-item) .page-link {
    border-top-left-radius: 1.428rem;
    border-bottom-left-radius: 1.428rem
}

.pagination .page-item:last-child:not(.next-item).active {
    border-top-right-radius: 1.428rem;
    border-bottom-right-radius: 1.428rem
}

.pagination .page-item:last-child:not(.next-item).active .page-link {
    border-radius: 5rem
}

.pagination .page-item:last-child:not(.next-item) .page-link {
    border-top-right-radius: 1.428rem;
    border-bottom-right-radius: 1.428rem
}

.pagination.pagination-lg .page-item .page-link {
    font-size: 1.5rem;
    transform: scale(1)
}
.btn-primary {
    color: #fff;
    background-color: #5c6bc6;
    border-color: #5c6bc6;
}
.btn-primary {
    color: #fff;
    background-color: #5c6bc6;
    border-color: #5c6bc6
}

.btn-primary:hover {
    color: #fff;
    background-color: #4f5fc1;
    border-color: #4f5fc1
}

.btn-primary.focus,.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(116,129,207,.5)
}

.btn-primary.disabled,.btn-primary:disabled {
    color: #fff;
    background-color: #5c6bc6;
    border-color: #5c6bc6
}

.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #495abf;
    border-color: #495abf
}

.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(116,129,207,.5)
}

.btn-secondary {
    color: #2a2e30;
    background-color: #b8c2cc;
    border-color: #b8c2cc
}

.btn-secondary:hover {
    color: #2a2e30;
    background-color: #aeb9c5;
    border-color: #aeb9c5
}

.btn-secondary.focus,.btn-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(163,172,181,.5)
}

.btn-secondary.disabled,.btn-secondary:disabled {
    color: #2a2e30;
    background-color: #b8c2cc;
    border-color: #b8c2cc
}

.btn-secondary:not(:disabled):not(.disabled).active,.btn-secondary:not(:disabled):not(.disabled):active,.show>.btn-secondary.dropdown-toggle {
    color: #2a2e30;
    background-color: #a9b5c1;
    border-color: #a9b5c1
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,.btn-secondary:not(:disabled):not(.disabled):active:focus,.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(163,172,181,.5)
}

.btn-success {
    color: #fff;
    background-color: #21b978;
    border-color: #21b978
}

.btn-success:hover {
    color: #fff;
    background-color: #1eaa6e;
    border-color: #1eaa6e
}

.btn-success.focus,.btn-success:focus {
    box-shadow: 0 0 0 .2rem rgba(66,196,140,.5)
}

.btn-success.disabled,.btn-success:disabled {
    color: #fff;
    background-color: #21b978;
    border-color: #21b978
}

.btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active,.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1da36a;
    border-color: #1da36a
}

.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus,.show>.btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(66,196,140,.5)
}

.btn-info {
    color: #fff;
    background-color: #4277cf;
    border-color: #4277cf
}

.btn-info:hover {
    color: #fff;
    background-color: #346dcb;
    border-color: #346dcb
}

.btn-info.focus,.btn-info:focus {
    box-shadow: 0 0 0 .2rem rgba(94,139,214,.5)
}

.btn-info.disabled,.btn-info:disabled {
    color: #fff;
    background-color: #4277cf;
    border-color: #4277cf
}

.btn-info:not(:disabled):not(.disabled).active,.btn-info:not(:disabled):not(.disabled):active,.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #3269c5;
    border-color: #3269c5
}

.btn-info:not(:disabled):not(.disabled).active:focus,.btn-info:not(:disabled):not(.disabled):active:focus,.show>.btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(94,139,214,.5)
}

.btn-warning {
    color: #2a2e30;
    background-color: #dda451;
    border-color: #dda451
}

.btn-warning:hover {
    color: #2a2e30;
    background-color: #da9c42;
    border-color: #da9c42
}

.btn-warning.focus,.btn-warning:focus {
    box-shadow: 0 0 0 .2rem rgba(194,146,76,.5)
}

.btn-warning.disabled,.btn-warning:disabled {
    color: #2a2e30;
    background-color: #dda451;
    border-color: #dda451
}

.btn-warning:not(:disabled):not(.disabled).active,.btn-warning:not(:disabled):not(.disabled):active,.show>.btn-warning.dropdown-toggle {
    color: #2a2e30;
    background-color: #d9993c;
    border-color: #d9993c
}

.btn-warning:not(:disabled):not(.disabled).active:focus,.btn-warning:not(:disabled):not(.disabled):active:focus,.show>.btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(194,146,76,.5)
}

.btn-danger {
    color: #fff;
    background-color: #ea5455;
    border-color: #ea5455
}

.btn-danger:hover {
    color: #fff;
    background-color: #e84445;
    border-color: #e84445
}

.btn-danger.focus,.btn-danger:focus {
    box-shadow: 0 0 0 .2rem rgba(237,110,111,.5)
}

.btn-danger.disabled,.btn-danger:disabled {
    color: #fff;
    background-color: #ea5455;
    border-color: #ea5455
}

.btn-danger:not(:disabled):not(.disabled).active,.btn-danger:not(:disabled):not(.disabled):active,.show>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #e73d3e;
    border-color: #e73d3e
}

.btn-danger:not(:disabled):not(.disabled).active:focus,.btn-danger:not(:disabled):not(.disabled):active:focus,.show>.btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(237,110,111,.5)
}

.btn-light {
    color: #2a2e30;
    background-color: #f7f7f9;
    border-color: #f7f7f9
}

.btn-light:hover {
    color: #2a2e30;
    background-color: #ededf1;
    border-color: #ededf1
}

.btn-light.focus,.btn-light:focus {
    box-shadow: 0 0 0 .2rem rgba(216,217,219,.5)
}

.btn-light.disabled,.btn-light:disabled {
    color: #2a2e30;
    background-color: #f7f7f9;
    border-color: #f7f7f9
}

.btn-light:not(:disabled):not(.disabled).active,.btn-light:not(:disabled):not(.disabled):active,.show>.btn-light.dropdown-toggle {
    color: #2a2e30;
    background-color: #e8e8ee;
    border-color: #e8e8ee
}

.btn-light:not(:disabled):not(.disabled).active:focus,.btn-light:not(:disabled):not(.disabled):active:focus,.show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(216,217,219,.5)
}

.btn-dark {
    color: #fff;
    background-color: #22292f;
    border-color: #22292f
}

.btn-dark:hover {
    color: #fff;
    background-color: #1b2025;
    border-color: #1b2025
}

.btn-dark.focus,.btn-dark:focus {
    box-shadow: 0 0 0 .2rem rgba(67,73,78,.5)
}

.btn-dark.disabled,.btn-dark:disabled {
    color: #fff;
    background-color: #22292f;
    border-color: #22292f
}

.btn-dark:not(:disabled):not(.disabled).active,.btn-dark:not(:disabled):not(.disabled):active,.show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #171c20;
    border-color: #171c20
}

.btn-dark:not(:disabled):not(.disabled).active:focus,.btn-dark:not(:disabled):not(.disabled):active:focus,.show>.btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(67,73,78,.5)
}

.btn-outline-primary,.btn-outline-primary:hover {
    color: #5c6bc6;
    border-color: #5c6bc6
}

.btn-outline-primary:hover {
    background-color: rgba(92,107,198,.1)
}

.btn-outline-primary.focus,.btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(92,107,198,.5)
}

.btn-outline-primary.disabled,.btn-outline-primary:disabled {
    color: #5c6bc6;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active,.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #5c6bc6;
    border-color: #5c6bc6
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(92,107,198,.5)
}

.btn-outline-secondary,.btn-outline-secondary:hover {
    color: #b8c2cc;
    border-color: #b8c2cc
}

.btn-outline-secondary:hover {
    background-color: rgba(184,194,204,.1)
}

.btn-outline-secondary.focus,.btn-outline-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(184,194,204,.5)
}

.btn-outline-secondary.disabled,.btn-outline-secondary:disabled {
    color: #b8c2cc;
    background-color: transparent
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,.btn-outline-secondary:not(:disabled):not(.disabled):active,.show>.btn-outline-secondary.dropdown-toggle {
    color: #2a2e30;
    background-color: #b8c2cc;
    border-color: #b8c2cc
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(184,194,204,.5)
}

.btn-outline-success,.btn-outline-success:hover {
    color: #21b978;
    border-color: #21b978
}

.btn-outline-success:hover {
    background-color: rgba(33,185,120,.1)
}

.btn-outline-success.focus,.btn-outline-success:focus {
    box-shadow: 0 0 0 .2rem rgba(33,185,120,.5)
}

.btn-outline-success.disabled,.btn-outline-success:disabled {
    color: #21b978;
    background-color: transparent
}

.btn-outline-success:not(:disabled):not(.disabled).active,.btn-outline-success:not(:disabled):not(.disabled):active,.show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #21b978;
    border-color: #21b978
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus,.btn-outline-success:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(33,185,120,.5)
}

.btn-outline-info,.btn-outline-info:hover {
    color: #4277cf;
    border-color: #4277cf
}

.btn-outline-info:hover {
    background-color: rgba(66,119,207,.1)
}

.btn-outline-info.focus,.btn-outline-info:focus {
    box-shadow: 0 0 0 .2rem rgba(66,119,207,.5)
}

.btn-outline-info.disabled,.btn-outline-info:disabled {
    color: #4277cf;
    background-color: transparent
}

.btn-outline-info:not(:disabled):not(.disabled).active,.btn-outline-info:not(:disabled):not(.disabled):active,.show>.btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #4277cf;
    border-color: #4277cf
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus,.btn-outline-info:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(66,119,207,.5)
}

.btn-outline-warning,.btn-outline-warning:hover {
    color: #dda451;
    border-color: #dda451
}

.btn-outline-warning:hover {
    background-color: rgba(221,164,81,.1)
}

.btn-outline-warning.focus,.btn-outline-warning:focus {
    box-shadow: 0 0 0 .2rem rgba(221,164,81,.5)
}

.btn-outline-warning.disabled,.btn-outline-warning:disabled {
    color: #dda451;
    background-color: transparent
}

.btn-outline-warning:not(:disabled):not(.disabled).active,.btn-outline-warning:not(:disabled):not(.disabled):active,.show>.btn-outline-warning.dropdown-toggle {
    color: #2a2e30;
    background-color: #dda451;
    border-color: #dda451
}

.btn-outline-warning:not(:disabled):not(.disabled).active:focus,.btn-outline-warning:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(221,164,81,.5)
}

.btn-outline-danger,.btn-outline-danger:hover {
    color: #ea5455;
    border-color: #ea5455
}

.btn-outline-danger:hover {
    background-color: rgba(234,84,85,.1)
}

.btn-outline-danger.focus,.btn-outline-danger:focus {
    box-shadow: 0 0 0 .2rem rgba(234,84,85,.5)
}

.btn-outline-danger.disabled,.btn-outline-danger:disabled {
    color: #ea5455;
    background-color: transparent
}

.btn-outline-danger:not(:disabled):not(.disabled).active,.btn-outline-danger:not(:disabled):not(.disabled):active,.show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #ea5455;
    border-color: #ea5455
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus,.btn-outline-danger:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(234,84,85,.5)
}

.btn-outline-light,.btn-outline-light:hover {
    color: #f7f7f9;
    border-color: #f7f7f9
}

.btn-outline-light:hover {
    background-color: rgba(247,247,249,.1)
}

.btn-outline-light.focus,.btn-outline-light:focus {
    box-shadow: 0 0 0 .2rem rgba(247,247,249,.5)
}

.btn-outline-light.disabled,.btn-outline-light:disabled {
    color: #f7f7f9;
    background-color: transparent
}

.btn-outline-light:not(:disabled):not(.disabled).active,.btn-outline-light:not(:disabled):not(.disabled):active,.show>.btn-outline-light.dropdown-toggle {
    color: #2a2e30;
    background-color: #f7f7f9;
    border-color: #f7f7f9
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus,.btn-outline-light:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(247,247,249,.5)
}

.btn-outline-dark,.btn-outline-dark:hover {
    color: #22292f;
    border-color: #22292f
}

.btn-outline-dark:hover {
    background-color: rgba(34,41,47,.1)
}

.btn-outline-dark.focus,.btn-outline-dark:focus {
    box-shadow: 0 0 0 .2rem rgba(34,41,47,.5)
}

.btn-outline-dark.disabled,.btn-outline-dark:disabled {
    color: #22292f;
    background-color: transparent
}

.btn-outline-dark:not(:disabled):not(.disabled).active,.btn-outline-dark:not(:disabled):not(.disabled):active,.show>.btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #22292f;
    border-color: #22292f
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus,.btn-outline-dark:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(34,41,47,.5)
}

.btn-link {
    font-weight: 400;
    color: #495abf;
    text-decoration: none
}

.btn-link:hover {
    color: #37469e;
    text-decoration: none
}

.btn-link.focus,.btn-link:focus {
    text-decoration: none;
    box-shadow: none
}

.btn-link.disabled,.btn-link:disabled {
    color: #b8c2cc;
    pointer-events: none
}

.btn-group-lg>.btn,.btn-lg {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    border-radius: .4285rem
}

.btn-group-sm>.btn,.btn-sm {
    padding: .5rem 1.5rem;
    font-size: 12px;
    border-radius: .4285rem
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block+.btn-block {
    margin-top: .5rem
}

input[type=button].btn-block,input[type=reset].btn-block,input[type=submit].btn-block {
    width: 100%
}
.skin-blue .main-header .navbar {
    background-color: #fff;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    color: #000;
}
.skin-blue .main-header .navbar .nav>li>a {
    color: #000;
}
.dropdown-menu {
    transition: all 0.3s ease;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
}
.swal2-popup {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
}
.input-group, .select2-container, textarea.form-control, select.form-control, .form-group input.form-control, .icheckbox_square-blue, .iradio_square-blue {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.05);
    transition: all 0.3s ease;
}
.select2-container--open .select2-dropdown--below {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
    border-radius: 5px;
}
.input-group .form-control {
    width: 100%!important;
}
.form-horizontal .control-label {
    text-align: left;
}
.btn.btn-default, .btn.btn-white {
    border: 1px solid #eaeaea;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #4556be;
}
.btn-group .dropdown-toggle {
    background: #fff!important;
    border: 1px solid #948f8f!important;
}
.skin-blue .main-header li.user-header {
    background-color: #697982;
}
.icheckbox_square-blue, .iradio_square-blue {
    border-radius: 3px;
}
.input-sm {
    font-size: 18px;
}
.nav-tabs-custom>.nav-tabs>li {
    transition: all 0.3s ease;
}
.nav-tabs-custom>.nav-tabs>li.active {
    box-shadow: 3px 2px 0px 0px rgba(0,0,0,.08);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #4f5fc1;
    border-color: #4f5fc1;
    padding: 1px 10px;
    color: #fff;
}
.skin-blue .sidebar-menu>li>a {
   margin-top: 5px;
   margin-bottom: 5px;
   transition: all 0.3s ease;
}
.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a {
    transition: all 0.3s ease;
}
.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
    background: #eaeaea;
}